* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration-line: none;
  list-style-type: none;
}

body {
  background-color: #f7f7f8;
}

header {
  position: sticky;
  z-index: 5;
}

.active {
  border-radius: 8px;
  display: flex;
  background-color: #f1f1f3;
  padding: 14px 24px;
}

.container {
  width: calc(100% - 60px);
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid #f1f1f3;
  padding-top: 20px;
  padding-bottom: 24px;
}

.row {
  width: calc(100% - 324px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.logo-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.logo {
  background-color: #ff9500;
  width: 54px;
  height: 54px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
  align-items: center;
}

.nav a {
  display: flex;
  flex-wrap: wrap;
  text-decoration-line: none;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  color: #262626;
}

.sinlog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  text-decoration-line: none;
}

.signup {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  font-family: Be Vietnam Pro;
}

.login {
  padding: 14px 34px;
  align-items: center;
  border-radius: 8px;
  background: #ff9500;
  font-size: 18px;
  color: #fff;
  font-family: Be Vietnam Pro;
  font-weight: 400;
}

.first-line {
  width: calc(100% - 1042px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 11px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
  margin-top: 155px;
  font-family: Be Vietnam Pro;
  font-weight: 600;
  padding: 14px 30px 14px 20px;
}
.first-line .unlock-logo svg {
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #fff4e5;
  padding: 4px;
}
.first-line h1 {
  text-align: center;
  font-family: Be Vietnam Pro;
  font-weight: 600;
  font-size: 28px;
}
.first-line .something {
  position: absolute;
  left: 495px;
  top: 250px;
}

.second-line {
  width: calc(100% - 955px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: Be Vietnam Pro;
  font-weight: 500;
  color: #262626;
}

.third-line {
  width: calc(100% - 955px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-family: Be Vietnam Pro;
  font-weight: 400;
  color: #262626;
}

.explore-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 8px;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
}
.explore {
  border-radius: 8px;
  background-color: #ff9500;
  padding: 18px 24px;
  color: #fff;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 600;
}
.view {
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fff;
  color: #262626;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 500;
}

.zoom-amazon {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 325px);
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
  justify-content: center;
  gap: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.image img {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 300px);
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #f7f7f8;
  margin-bottom: 150px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 325px);
  margin: auto;
}
.benefits-top {
  width: calc(100% - 375px);
  margin-bottom: 6px;
}

.benefits h2 {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  gap: 6px;
}

.benefits-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 300px;
}

.benefits-bottom p {
  width: calc(100% - 400px);
}
.benefits-bottom a {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-weight: 500;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
}

.benefit-box .container {
  width: calc(100% - 324px);
  margin: auto;
}

.benefit-box .rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.rows .row-one {
  display: flex;

  gap: 20px;
}
.rows .row-two {
  display: flex;
  gap: 20px;
}
.benefit-box .box {
  border-radius: 12px;
  background-color: #fff;
  width: calc((100% - 20px) / 3);
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  flex-direction: column;

  gap: 50px;
}
.box h1 {
  text-align: end;
  color: #262626;

  font-family: Be Vietnam Pro;
  font-size: 80px;
  font-weight: 700;
  line-height: 24px;
  flex-wrap: wrap;
}

.box h4 {
  text-align: start;
  color: #333;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.144px;
}
.box p {
  color: #4c4c4d;
  font-family: Be Vietnam Pro;
  font-size: 18px;

  font-weight: 400;
}
.box .h4-p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 14px;
}

.box .icon {
  text-align: end;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 325px);
  margin: auto;
}
.course-top {
  width: calc(100% - 375px);
  margin-bottom: 6px;
}

.courses h2 {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  gap: 6px;
}

.course-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 300px;
}

.course-bottom p {
  width: calc(100% - 400px);
}
.course-bottom a {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-weight: 500;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
}

.course-box .container {
  width: calc(100% - 324px);
  margin: auto;
}

.course-box .rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.course-box.row-one {
  display: flex;

  gap: 30px;
}
.course-box .row-two {
  display: flex;
  gap: 30px;
}
.course-box .row-three {
  display: flex;

  gap: 30px;
}
.course-box .box {
  border-radius: 12px;
  background-color: #fff;
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #fff;
}

.course-box .box img {
  width: 100%;
}

.box .level-by {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.level-by .week-level {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.week-level .week,
.level {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fff;
}

.level-by h5 {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 500;
}

.course-box .box h4 {
  text-align: start;
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.144px;
}
.course-box .box p {
  color: #4c4c4d;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
}
.course-box .box .h4-p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 30px;
}
.get-it-now {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #f7f7f8;
}
.get-it-now {
  color: #262626;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 500;
}

.testi-box .box p {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  align-items: flex-start;
  gap: 10px;
  color: #4c4c4d;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
}

.testi {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 325px);
  margin: auto;
}
.testi-top {
  width: calc(100% - 375px);
  margin-bottom: 6px;
}

.testi h2 {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  gap: 6px;
}

.testi-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 300px;
}

.testi-bottom p {
  width: calc(100% - 400px);
}
.testi-bottom a {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-weight: 500;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
}

.testi-box-start {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 80px;
  padding: 50px;
  background-color: #fcfcfd;
  justify-content: center;
}
.testi-box-end {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #fcfcfd;
  gap: 30px;
  justify-content: center;
}

.testi-box .container {
  width: calc(100% - 324px);
  margin: auto;
 
}

.testi-box .rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.testi-box .row-one {
  display: flex;
  gap: 30px;
  align-items: center;
}
.testi-box .row-two {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: yellowgreen;
}
.testi-box .box p{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  align-items: flex-start;
  gap: 10px;
  color: #4c4c4d;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  background:  #FCFCFD;
  border-bottom: 1px solid #F1F1F3;
  
  
}
.testi-box .img-p {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 30px 50px;
  background-color:  #FCFCFD;
}
.img-p .img-name {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  gap: 15px;
}
.testi-box .read-full p{
  
  
  display: flex;
padding: 18px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
border: 1px solid  #F1F1F3;
background-color: #F7F7F8;


}




.footer {
  background-color: #fff;
}

.footer-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}

.footer-start .mail,
.phone,
.location {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.footer-end {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 30px) / 2);
  justify-content: space-between;
  margin-top: 100px;
}

.footer-item nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  padding-top: 14px;
}

.footer-item nav a {
  text-decoration-line: none;
  color: #59595a;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
}

.footer-item-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding-top: 14px;
}

.footer-item-icons svg {
  width: 34px;
  height: 34px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #f7f7f8;
}

.footer .line {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1px;
  background-color: #f1f1f3;
}

.rights {
  margin-bottom: 30px;
  margin-top: 100px;
  text-align: center;
}
