* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration-line: none;
  list-style-type: none;
}

body {
  background-color: #f7f7f8;
}

header {
  position: sticky;
  z-index: 5;
}

.active {
  border-radius: 8px;
  display: flex;
  background-color: #f1f1f3;
  padding: 14px 24px;
}

.container {
  width: calc(100% - 60px);
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid #f1f1f3;
  padding-top: 20px;
  padding-bottom: 24px;
}

.row {
  width: calc(100% - 324px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

header .row .icon-none {
  display: none;
  width: 34px;
  height: 34px;
}

.logo-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.logo {
  background-color: #ff9500;
  width: 54px;
  height: 54px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
  align-items: center;
}

.nav a {
  display: flex;
  flex-wrap: wrap;
  text-decoration-line: none;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  color: #262626;
}

.sinlog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  text-decoration-line: none;
}

.signup {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  font-family: Be Vietnam Pro;
}

.login {
  padding: 14px 34px;
  align-items: center;
  border-radius: 8px;
  background: #ff9500;
  font-size: 18px;
  color: #fff;
  font-family: Be Vietnam Pro;
  font-weight: 400;
}

.unlock .container {
  width: calc(100% - 955px);
  margin: auto;
  margin-top: 155px;
}

.first-line {
  display: flex;
  flex-wrap: wrap;
}
.unlock-logo {
  margin: auto;
  gap: 10px;
  border-radius: 11px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
  display: flex;
  flex-wrap: wrap;
  padding: 14px 30px 14px 20px;
  justify-content: center;
  align-items: center;
}

.first-line .unlock-logo svg {
  width: 34px;
  height: 34px;
}
.unlock-logo .flash-logo {
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #fff4e5;
  padding: 10px;
}

.first-line .unlock-pot h1 {
  text-align: center;
  font-family: Be Vietnam Pro;
  font-weight: 600;
  font-size: 28px;
}
.first-line .something {
  position: absolute;
  left: 460px;
  top: 265px;
}

.second-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.second-line h2 {
  font-family: Be Vietnam Pro;
  font-weight: 500;
  color: #262626;
}

.third-line {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.third-line h4 {
  font-family: Be Vietnam Pro;
  font-weight: 400;
  color: #262626;
}

.explore-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.explore {
  border-radius: 8px;
  background-color: #ff9500;
  padding: 18px 24px;
  color: #fff;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 600;
}

.view {
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fff;
  color: #262626;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 500;
}

.zoom-amazon {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 325px);
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
  justify-content: center;
  gap: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 391px) {
  header .container {
    width: calc(100% - 32px);
    margin: auto;
    padding: 40px 16px 0px 16px;
  }

  header .row {
    display: flex;
    padding: 14px 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  header .nav {
    display: none;
  }

  header .row .logo svg {
    width: 29.63px;
    height: 29.63px;
  }
  header .logo {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 5.185px 5.185px 5.185px 5.186px;
    justify-content: center;
    align-items: center;
  }

  header .sinlog {
    display: flex;
    gap: 20px;
  }

  header .signup {
    font-size: 14px;
  }

  header .login {
    padding: 12px 20px;

    border-radius: 6px;

    font-size: 14px;
  }

  header .row .icon-none {
    display: block;
  }

  .unlock .container {
    width: calc(100% - 30px);
    margin: auto;
    margin-top: 91px;
  }

  .unlock-logo {
    gap: 10px;
    border-radius: 8px;
    padding: 14px;
  }
  .first-line .unlock-logo svg {
    width: 24px;
    height: 24px;
  }
  .unlock-logo .flash-logo {
    border-radius: 6px;

    padding: 8px;
  }
  .first-line .unlock-pot h1 {
    font-size: 14px;
  }
  .first-line .something {
    position: absolute;
    box-sizing: border-box;
    left: 10px;
    top: 204px;
  }

  .second-line {
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  .third-line {
    margin-top: 6px;
  }
  .third-line h4 {
    font-family: Be Vietnam Pro;
    font-weight: 400;
    color: #262626;
    font-size: 14px;
    font-style: normal;
    text-align: center;
  }
  .explore-view {
    margin-top: 50px;
    gap: 10px;
  }
  .explore {
    border-radius: 6px;
    padding: 14px 20px;
    font-size: 14px;
  }

  .view {
    padding: 14px 20px;
    border-radius: 6px;
    font-size: 14px;
  }
}
/*

.image img {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 300px);
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #f7f7f8;
  margin-bottom: 150px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 325px);
  margin: auto;
}
.benefits-top {
  width: calc(100% - 375px);
  margin-bottom: 6px;
}

.benefits h2 {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  gap: 6px;
}

.benefits-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 300px;
}

.benefits-bottom p {
  width: calc(100% - 400px);
}
.benefits-bottom a {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-weight: 500;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
}

.benefit-box .container {
  width: calc(100% - 324px);
  margin: auto;
}

.benefit-box .rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.benefit-box .rows .row-one {
  display: flex;
  gap: 20px;
}
.benefit-box .rows .row-two {
  display: flex; 
  gap: 20px;
}
.benefit-box .box {
  border-radius: 12px;
  background-color: #fff;
  width: calc((100% - 20px) / 3);
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  flex-direction: column;
  gap: 50px;
}
.benefit-box .box h1 {
  text-align: end;
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 80px;
  font-weight: 700;
  line-height: 24px;
  flex-wrap: wrap;
}

.benefit-box .box h4 {
  text-align: start;
  color: #333;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.144px;
  
}
.benefit-box .box p {
  color: #4c4c4d;
  font-family: Be Vietnam Pro;
  font-size: 18px;

  font-weight: 400;
}
.box .h4-p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 14px;
}

.box .icon {
  text-align: end;
  
}

.courses {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 325px);
  margin: auto;
}
.course-top {
  width: calc(100% - 375px);
  margin-bottom: 6px;
}

.courses h2 {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  gap: 6px;
}

.course-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 300px;
}

.course-bottom p {
  width: calc(100% - 400px);
}
.course-bottom a {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-weight: 500;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
}

.course-box .container {
  width: calc(100% - 324px);
  margin: auto;
}

.course-box .rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.course-box .row-one {
  display: flex;

  gap: 30px;
}
.course-box .row-two {
  display: flex;
  gap: 30px;
}
.course-box .row-three {
  display: flex;

  gap: 30px;
}
.course-box .box {
  border-radius: 12px;
  background-color: #fff;
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #fff;
}

.course-box .box img {
  width: 100%;
}

.box .level-by {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.level-by .week-level {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.week-level .week,
.level { 
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fff;
}

.level-by h5 {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 500;
}

.course-box .box h4 {
  text-align: start;
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.144px;
}
.course-box .box p {
  color: #4c4c4d;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
}
.course-box .box .h4-p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 30px;
}
.get-it-now {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #f7f7f8;
}
.get-it-now {
  color: #262626;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 500;
}
/*
.testi-box .box p {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  align-items: flex-start;
  gap: 10px;
  color: #4c4c4d;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
}

.testi {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 325px);
  margin: auto;
}
.testi-top {
  width: calc(100% - 375px);
  margin-bottom: 6px;
}

.testi h2 {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  gap: 6px;
}

.testi-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 300px;
}

.testi-bottom p {
  width: calc(100% - 400px);
}
.testi-bottom a {
  color: #262626;
  font-family: Be Vietnam Pro;
  font-weight: 500;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
}

.testi-box-start {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 80px;
  padding: 50px;
  background-color: #fcfcfd;
  justify-content: center;
}
.testi-box-end {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #fcfcfd;
  gap: 30px;
  justify-content: center;
}

.testi-box .container {
  width: calc(100% - 324px);
  margin: auto;
}

.testi-box .rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.testi-box .row-one {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: #ff9500;
}
.testi-box .row-two {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: #ff9500;
}

.testi-box .box p {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  align-items: flex-start;
  gap: 10px;
  color: #4c4c4d;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-weight: 400;
  background: #fcfcfd;
  border-bottom: 1px solid #f1f1f3;
}
.testi-box .img-p {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 50px;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfd;
}
.img-p .img-name {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  gap: 15px;
}
.testi-box .read-full p {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #f7f7f8;
}

.pricing-box .container {
  width: calc(100% - 324px);
  margin: auto;
}
.pricing-box .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  width: 100%;
}
.pricing-box .box {
  border-radius: 12px;
  background-color: #fff;
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #fff;
}
.pricing-box .free-plan {
  display: flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #ffeacc;
  background-color: #fff9f0;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*
.price h2::after{
  content: "/month";
  color: black;
  background-color: red;
 
  width: 100px;
  height: 150px;
}


.pricing-box .price {
  display: flex;
  justify-content: center;

  color: #262626;
  font-family: Be Vietnam Pro;
  font-size: 80px;
  font-weight: 600;
}

.pricing-box .features {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}

.pricing-box .feature {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  text-align: start;
  align-items: center;
}

.pricing-box .available {
  color: #262626;
  text-align: center;
  align-items: center;
  font-family: Be Vietnam Pro;
  font-size: 20px;

  font-weight: 500;
}

.pricing-box .feature svg {
  display: flex;
  padding: 6px;

  gap: 10px;
  border-radius: 6px;
  background-color: #fff4e5;
}

.get-started {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 0px 0px 8px 8px;
  background-color: #ff9500;
  color: #fff;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 600;
}

.footer {
  background-color: #fff;
}

.footer-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}

.footer-start .mail,
.phone,
.location {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.footer-end {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 30px) / 2);
  justify-content: space-between;
  margin-top: 100px;
}

.footer-item nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  padding-top: 14px;
}

.footer-item nav a {
  text-decoration-line: none;
  color: #59595a;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
}

.footer-item-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding-top: 14px;
}

.footer-item-icons svg {
  width: 34px;
  height: 34px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #f7f7f8;
}

.footer .line {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1px;
  background-color: #f1f1f3;
}

.rights {
  margin-bottom: 30px;
  margin-top: 100px;
  text-align: center;
}
*/
